apiVersion: v1
kind: Secret
metadata:
  name: wordgame-secret
type: Opaque
data:
  postgres-user: 
  postgres-password: 
  keycloak-admin: 
  keycloak-password: 
  mongo-user: 
  mongo-password: 
  realm-public-key: 
